{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load socialaccount %}

{% block content %}


{% comment %} <div class="wrapper" style="text-align: center; width: 400px;"> 
  <h1>로그인</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %} 
    <br>
    <input type="submit" class="btn btn-primary" value="LOGIN"> 
  </form>
</div> {% endcomment %}

<div class="container justify-content-center" style="width: 400px">
  <h1>로그인</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %} 
    <br>
    <input type="submit" class="btn btn-primary" value="LOGIN"> 
  </form>
  <br>
  <a href="{% provider_login_url 'google' next="/" %}" class="btn btn-dark text-white"><img style="width: 20px; height: 20px;" src="{% static 'images/google_logo.png' %}" alt="googleimg"> 구글 로그인</a>
</div>




{% endblock  %}
