{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

{% comment %} <div class="wrapper" style="text-align: center; width: 400px;"> 
  <h1>로그인</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %} 
    <br>
    <input type="submit" class="btn btn-primary" value="LOGIN"> 
  </form>
</div> {% endcomment %}

<div class="container justify-content-center" style="width: 400px">
  <h1>로그인</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %} 
    <br>
    <input type="submit" class="btn btn-primary" value="LOGIN"> 
  </form>
</div>




{% endblock  %}
