{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div id="movieCard" class="container">
    <div class="row">
      <section class="col-6">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="poster_img" class="img-fluid">
      </section>
      <section class="col-6">
        <h1>{{ movie.title }}</h1>
        <p>
          {{ movie.release_date | date:'Y/m/d' }}
          /
          {% for genre in movie.genres.all %}
            {{genre.name}}
          {% endfor %}
        </p>
        <p>회원 점수 : {{ movie.vote_average }} / 인기도 : {{ movie.popularity }}</p>
        <h2>개요</h2>
        <p>{{ movie.overview }}</p>
      </section>
    </div>
  </div>
  <div class="container border-0 bg-white mb-3 py-5" style="border-radius: 3rem;">
    <div class="row bg-secondary p-2 fs-4 fw-bold">한 줄 평 {{ ranks|length }}</div>
    {% if not user_rank %}
      <div class="row mx-1 my-2">
        <form action="{% url 'movies:create_rank' movie.pk %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form rank_form %}
          <br>
          <input type="submit" class="btn btn-dark" value="등록">
        </form>
      </div>
    {% endif %}
        {% for rank in ranks %}
          <div class="row my-3">
            <a href="{% url 'accounts:profile' rank.user %}" class="col-2 m-auto text-decoration-none text-dark fw-bold">{{ rank.user }}</a>
            <div class="col-6 m-auto">{{ rank.content }}</div>
            {% if request.user == rank.user %}
              <div class="col-2">
                <form action="{% url 'movies:delete_rank' movie.pk rank.pk %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-danger" value="삭제">
                </form>
              </div>
            {% else %}
              <div class="col-2"></div>
            {% endif %}
            <div class="col-2 m-auto text-warning">{{ rank.get_rank_display }}</div>
          </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <style>
    #movieCard {
      border: solid;
      border-radius: 1rem;
      background-color: black;
      color: white;
      padding: 1rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  </style>
{% endblock content %}
