{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div id="movieCard" class="container">
    <div class="row">
      <section class="col-6">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="poster_img" class="img-fluid">
      </section>
      <section class="col-6 container">
        <h1>{{ movie.title }}</h1>
        <p>
          {{ movie.release_date | date:'Y/m/d' }}
          /
          {% for genre in movie.genres.all %}
            {{genre.name}}
          {% endfor %}
        </p>
        <p>회원 점수 : {{ movie.vote_average }} / 인기도 : {{ movie.popularity }}</p>
        <h2>개요</h2>
        <p>{{ movie.overview }}</p>
      </section>
    </div>
  </div>
  <div class="container">
    <p class="my-auto bg-secondary">한줄 평 {{ ranks|length }}</p>
    <table class="table">
      <tbody>
        {% for rank in ranks %}
          <tr>
            <th>{{ rank.user }}</th>
            <td>{{ rank.content }}</td>
            <td>{{ rank.get_rank_display }}</td>
            {% if request.user == rank.user %}
              <td>
                <form action="{% url 'movies:delete_rank' movie.pk rank.pk %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-danger" value="삭제">
                </form>
              </td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not user_rank %}
      <form action="{% url 'movies:create_rank' movie.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form rank_form %}
        <br>
        <input type="submit" class="btn btn-primary" value="등록">
      </form>
    {% endif %}
  </div>
  <style>
    #movieCard {
      border: solid;
      border-radius: 1rem;
      background-color: black;
      color: white;
      padding: 1rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  </style>
{% endblock content %}
