{% extends 'base.html' %}

{% block content %}
  <h1 class="mt-3 fw-bold">추천 영화</h1>
    <div class="row m-auto justify-content-center">
      {% for recommend in recommends %}
        <div class="col-3 p-1">
          <div class="card h-100">
            <a class="h-100" href="{% url 'movies:detail' recommend.pk %}">
              <img src="https://image.tmdb.org/t/p/w500{{recommend.poster_path}}" alt="poster_img" class="card-img-top h-100">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock content %}