{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="container border-0 bg-white mb-5" style="border-radius: 2rem;">
    <div class="row my-3 fs-1 mx-1">{{ review.title }}</div>
    <div class="row bg-light px-1">
      <div class="col my-auto">
        <a href="{% url 'accounts:profile' review.user.username %}" class="text-dark">
          {{ review.user }}
        </a>
      </div>
      <div class="col my-auto">{{ review.movie }}</div>
      <div class="col my-auto text-end">{{ review.created_at | date:'Y.m.d H:i'}}</div>
      <div class="col-1">
        <form id="like-form" data-review-id="{{ review.pk }}">
          {% csrf_token %}
          {% if user in review.like_users.all %}
            <button class="btn btn-link text-danger"><i class="fas fa-heart"></i></button>
          {% else %}
            <button class="btn btn-link text-secondary"><i class="fas fa-heart"></i></button>
          {% endif %}
        </form>
      </div>
      <div id="like-cnt" class="col-1 my-auto">{{ review.like_users.all | length }}</div>
    </div>
    <div class="row mx-2 my-5" style="width:100%; height: 18rem;">{{ review.content }}</div>
    {% if user == review.user %}
      <div class="row justify-content-between my-3">
        <div class="col-2">
          <a class="btn btn-primary w-100" href="{% url 'community:update' review.pk %}">UPDATE</a>
        </div>
        <div class="col-2">
          <form action="{% url 'community:delete' review.pk %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-danger w-100 px-auto"type="submit" value="DELETE">
          </form>
        </div>
      </div>
    {% endif %}
    <div class="row py-3 px-2 bg-light">
      <div class="col">
        댓글 {{ comments|length }}
      </div>
      <div class="col-2 text-center">
        작성 시각
      </div>
      <div class="col-2 text-center">
        수정 시각
      </div>
    </div>
    {% for comment in comments %}
      <div class="row px-2">
        <a href="{% url 'accounts:profile' comment.user.username %}"class="col-2 text-dark my-auto">{{ comment.user }}</a>
        {% if user == comment.user %}
          <div class="col-4 my-3">
            <a class="text-dark" href="{% url 'community:update_comment' review.pk comment.pk %}" >{{ comment.content }}</a>
          </div>
          <div class="col-2">
            <form action="{% url 'community:delete_comment' review.pk comment.pk %}" method="POST" class="d-inline">
              {% csrf_token %}
              <input class="btn btn-link w-100 text-decoration-none text-danger" type="submit" value="DELETE">
            </form>
          </div>
        {% else %}
          <div class="col-6 my-3">{{ comment.content }}</div>
        {% endif %}
          <div class="col-2 my-auto text-center">{{ comment.created_at | date:'y.m.d' }}</div>
          <div class="col-2 my-auto text-center">{{ comment.updated_at | date:'y.m.d' }}</div>
      </div>
    {% endfor %}
    <hr>
    {% if request.user.is_authenticated %}
    <div class="row m-5">
      <form action="{% url 'community:create_comment' review.pk%}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input class="btn btn-dark" type="submit" value="댓글 작성">
      </form>
    </div>
    {% else %}
    <div class="row">
      <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
    </div>
    {% endif %}
  </div>

  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const likeForm = document.querySelector('#like-form')

    likeForm.addEventListener('submit', event => {
      const reviewId = event.target.dataset.reviewId
      event.preventDefault()
      axios({
        method: 'post',
        url: `/community/${reviewId}/like/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then(response => {
        const {isLiked, likes} = response.data
        const likeBtn = document.querySelector("#like-form > button")
        const likeCnt = document.querySelector("#like-cnt")
        if (isLiked) {
          likeBtn.className = "btn btn-link text-danger"
        } else {
          likeBtn.className = "btn btn-link text-secondary"
        }
        likeCnt.innerText = `${likes}`
      })
    })
  </script>
{% endblock  %}
