{% extends 'base.html' %}

{% block content %}
  <h1>Community</h1>
  <hr>
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">날짜</th>
        <th scope="col">좋아요</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr class="text-center">
          <th scope="row">{{ review.pk }}</th>
          <td><a href="{% url 'community:detail' review.pk %}">{{ review.title }}</a></td>
          <td><a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></td>
          <td>{{ review.created_at | date:'y.m.d' }}</td>
          <td id="like-cnt">{{ review.like_users.all|length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <script>
  </script>
{% endblock %}
