{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div id="is-same" data-person-id="{{ person.pk }}" data-user-id="{{ user.pk }}">
      <div id="follow-cnt">
        팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}
      </div>
      {% if request.user != person %}
        <div>
          <form id="follow-form">
            {% csrf_token %}
            {% if request.user in followers %}
              <button id="followBtn" class="btn btn-secondary"><i id="followIcon" class="fas fa-users-slash"></i></button>
            {% else %}
              <button id="followBtn" class="btn btn-primary"><i id="followIcon" class="fas fa-user-friends"></i></button>
            {% endif %}
          </form>
        </div>
      {% else %}
        <div>
          <form action="{% url 'accounts:delete' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="회원탈퇴">
          </form>
          <a href="{% url 'accounts:update' %}">회원수정</a>
        </div>
      {% endif %}
    </div>
  {% endwith %}
  <h2>게시글</h2>
  {% for review in person.review_set.all %}
    <div>
      <a href="{% url 'community:detail' review.pk %}">{{ review.title }}</a>
      <i class="fas fa-heart" style="color:red"></i>
      {{ reviw.like_users.all | length}}
    </div>
  {% endfor %}
  <h2>댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>
      <a href="{% url 'community:detail' comment.review.pk %}">작성 글: {{ comment.review.title }}</a>
      <p>내 댓글: {{ comment.content }}</p>
    </div>
  {% endfor %}

  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const followForm = document.querySelector('#follow-form')
    const isSame = document.querySelector('#is-same')
    const {personId, userId} = isSame.dataset

    if (personId !== userId) {
      followForm.addEventListener('submit', (event) => {
        event.preventDefault()
        axios({
          method: 'post',
          url: `/accounts/${personId}/follow/`,
          headers: {'X-CSRFToken': csrftoken},
        })
          .then(response => {
            const {isFollowed, followings, followers} = response.data
            const followBtn = document.querySelector('#followBtn')
            const followIcon = document.querySelector('#followIcon')
            const followCnt = document.querySelector('#follow-cnt')

            if (isFollowed) {
              followBtn.className = 'btn btn-secondary'
              followIcon.className = 'fas fa-users-slash'
            } else {
              followBtn.className = 'btn btn-primary'
              followIcon.className = 'fas fa-user-friends'   
            }     
            followCnt.innerText = `팔로잉 : ${followings} / 팔로워 : ${followers}`
          })     
      })  
    }

  </script>
{% endblock %}
