{% extends 'base.html' %}

{% block content %}
  <h1>Detail</h1>
  <hr>
  <h2>{{ movie.title }}</h2>
  <p>장르: {% for genre in movie.genres.all %}{{genre.name}} {% endfor %}</p>
  <p>개봉 일자 : {{ movie.release_date }}</p>
  <p>평점 : {{ movie.vote_average }}</p>
  <p>인기도 : {{ movie.popularity }}</p>
  <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="poster_img">
  <p>{{ movie.overview }}</p>

  <div class="container">
    <div class="row">
      <p class="my-auto bg-secondary">한줄 평 {{ ranks|length }}</p>
    </div >
      {% for rank in ranks %}
        <div class="row">
          <p class="m-auto">{{ rank.user }} - {{ rank.content }}</p>
        </div>
      {% endfor %}
    <hr>
    <form action="{% url 'movies:create_rank' movie.pk %}" method="POST">
      {% csrf_token %}
      {{ rank_form }}
      <input type="submit">
    </form>
    </div>
  </div>
{% endblock content %}
