{% extends 'base.html' %}

{% block content %}
  <h1>Community</h1>
  <hr>
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">날짜</th>
        <th scope="col">좋아요</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr class="text-center">
          <th scope="row">{{ review.pk }}</th>
          <td><a href="{% url 'community:detail' review.pk %}">{{ review.title }}</a></td>
          <td><a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></td>
          {% comment %} <form id="like-form" data-review-id="{{review.pk}}">
            {% csrf_token %}
            {% if user in review.like_users.all %}
              <button class="btn btn-secondary"><i class="fas fa-thumbs-up"></i></button>
            {% else %}
              <button class="btn btn-primary"><i class="fas fa-thumbs-up"></i></button>
            {% endif %}
          </form> {% endcomment %}
          <td>{{ review.created_at | date:'y.m.d' }}</td>
          <td id="like-cnt">{{ review.like_users.all|length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <script>
    {% comment %} const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const likeForm = document.querySelector('#like-form')

    likeForm.addEventListener('submit', event => {
      const reviewId = event.target.dataset.reviewId
      event.preventDefault()
      axios({
        method: 'post',
        url: `/community/${reviewId}/like/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then(response => {
        const {isLiked, likes} = response.data
        const likeBtn = document.querySelector("#like-form > button")
        const likeCnt = document.querySelector("#like-cnt")
        if (isLiked) {
          likeBtn.className = "btn btn-secondary"
        } else {
          likeBtn.className = "btn btn-primary"
        }
        likeCnt.innerText = `${likes} 명이 이 글을 좋아합니다.`
      })
    }) {% endcomment %}
  </script>
{% endblock %}
